---
layout: layouts/base.njk
title: Home
---

<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="hero__title">Return to the Body</h1>
        <div class="hero__divider"></div>
        <p class="hero__subtitle">This is not just massage, it's presence restored in a ritual of stillness shaped for the world you move through.</p>
      </div>
      <a href="/booking" class="btn-glass">Booking</a>
    </div>
  </div>
</section>