---
layout: layouts/base.njk
title: Home
---

<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="hero__title">Drift slowly, gently into the silence beneath the noise</h1>
        <p class="hero__subtitle">The new ritual of massage, held in Guildford.</p>
      </div>
      <div class="hero__video-container">
        <div class="hero__video-placeholder" style="background-image: url('{{ site.cdnUrl }}/images/main.webp');"></div>
      </div>
    </div>
  </div>
</section>