---
layout: layouts/base.njk
title: Home
---

<section class="hero">
  <div class="container">
    <div class="hero__container">
      <h1 class="hero__title">Flow</h1>
      <p class="hero__subtitle">The new ritual of massage in Guildford</p>
      <a href="/visit" class="btn-glass">Visit Us</a>
    </div>
  </div>
</section>