<header class="header">
  <div class="container">
    <div class="header__container">
      <a href="/" class="header__logo">Flow</a>
      
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li><a href="/experience" class="header__nav-link">Experience</a></li>
          <li><a href="/philosophy" class="header__nav-link">Philosophy</a></li>
          <li><a href="/location" class="header__nav-link">Location</a></li>
          <li><a href="/offerings" class="header__nav-link">Offerings</a></li>
        </ul>
      </nav>
      
      <div class="header__cta">
        <a href="/booking" class="btn-glass">Booking</a>
      </div>
    </div>
  </div>
</header>