<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__center">
        <nav class="header__nav header__nav--left">
          <ul class="header__nav-list">
            <li><a href="/experience" class="header__nav-link">Experience</a></li>
            <li class="header__nav-dot">•</li>
            <li><a href="/philosophy" class="header__nav-link">Philosophy</a></li>
          </ul>
        </nav>
        
        <a href="/" class="header__logo">Flow</a>
        
        <nav class="header__nav header__nav--right">
          <ul class="header__nav-list">
            <li><a href="/location" class="header__nav-link">Location</a></li>
            <li class="header__nav-dot">•</li>
            <li><a href="/offerings" class="header__nav-link">Offerings</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>